# Configuração do MongoDB
# Substitua pela sua string de conexão do MongoDB Atlas
MONGODB_URI=mongodb+srv://seu_usuario:sua_senha@seu_cluster.mongodb.net/diario_zeli?retryWrites=true&w=majority

# Porta do servidor
PORT=3000

# Configurações de segurança (opcional)
JWT_SECRET=sua_chave_secreta_aqui
NODE_ENV=development 